venv/
venv_okx/
venv_selenium/
__pycache__/
*.log
*.tar.gz
*.pdf
*.so
*.png
*.zip
*.toc
*.txt
*.html
*.sh
dist/
build/
.cache/
.cache_screenshots/
downloads/
chrome_profile/
chrome_profile_copy/
# Large files
Qwen_quant_v1_backup_*.tar.gz
build/start/start.pkg
dist/start
code/chrome_profile/Default/Preferences
